{%  extends 'shop/base.html' %}
{% load static %}
{% block title %} ГЛАВНАЯ СТРАНИЦА {% endblock %}
{% block head %} 

{% endblock %}


{% block content %}

<center>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1>  {{ data.name }}   </h1>
            <h1>  {{ data.description }}  </h1>
            <h1>  {{ data.price }}  </h1>
         
          </div>
        </div>
     </div>


<div>

{% for i in prod_img %}  
  <hr>
  <img src="{% static i.img|cut:'shop/static' %}" width="600" height="400" alt="..."> 
  {% endfor %}

</div>
</center>

{% endblock %}
